<div class="checkout-main">
    <div class="check-container">
        <h1>Checkout disponible en el proximo sprint</h1>

        <div class="btn-container-check">
            <a href="/cart">Volver al carrito</a>
            <a href="/">Volver al inicio</a>
        </div>
    </div>
</div>