<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Checkout | MiEcommerce</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="checkout-main">
            <div class="check-container">
                <h1>Checkout disponible en el proximo sprint</h1>

                <div class="btn-container-check">
                    <a href="/cart">Volver al carrito</a>
                    <a href="/">Volver al inicio</a>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>