<section class="categories-section">
    <ul class="categories-list">
        <% for (const categoria of categorias) { %>
            <li class="categories-item">
                <a class="categories-link" href="#">
                    <img src="<%= categoria.icon %>" alt="<%= categoria.name %>">
                    <span><%= categoria.name %></span>
                </a>
            </li>
        <% } %>
    </ul>
</section>
    </ul>
</section>