<footer class="footer">
    <div class="footer-section social-icons">
        <a href="#"><img src="/images/x.png" alt="Twitter"></a>
        <a href="#"><img src="/images/fc.png" alt="Facebook"></a>
        <a href="#"><img src="/images/ig.png" alt="Instagram"></a>
        <a href="#"><img src="/images/yt.png" alt="YouTube"></a>
    </div>

    <div class="footer-section copyright">
        <p>&copy; MiEcommerce. Todos los derechos reservados.</p>
    </div>

    <div class="footer-section app-stores">
        <a href="#" class="store-link">
            <img src="/images/apple.png" alt="App Store">
            <span>App Store</span>
        </a>
        <a href="#" class="store-link">
            <img src="/images/play.png" alt="Google Play">
            <span>Google Play</span>
        </a>
    </div>
</footer>